<div id="<%= dom_id admin %>">
  <p>
    <strong>Id:</strong>
    <%= admin.id %>
  </p>
  <p>
    <strong>Email:</strong>
    <%= admin.email %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= admin.password %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= admin.name %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= admin.phone_number %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= admin.address %>
  </p>

  <p>
    <strong>Credit card info:</strong>
    <%= admin.credit_card_info %>
  </p>

</div>
