<%= form_with(model: admin) do |form| %>
  <% if admin.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(admin.errors.count, "error") %> prohibited this admin from being saved:</h2>

      <ul>
        <% admin.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :id, style: "display: block"%>
    <%= form.text_field :id, class: "uneditable-input", :disabled => admin.persisted? %>
  </div>

  <div>
    <%= form.label :email, style: "display: block"%>
    <%= form.text_field :email, class: "uneditable-input", :disabled => admin.persisted? %>
  </div>

  <div>
    <%= form.label :password, style: "display: block" %>
    <%= form.text_field :password, class: "uneditable-input", :disabled => admin.persisted? %>
  </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :phone_number, style: "display: block" %>
    <%= form.text_field :phone_number %>
  </div>

  <div>
    <%= form.label :address, style: "display: block" %>
    <%= form.text_area :address %>
  </div>

  <div>
    <%= form.label :credit_card_info, style: "display: block" %>
    <%= form.text_field :credit_card_info %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
