<style>
  .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  .header-container {
      display: flex;
      gap: 10px
  }
</style>

<p style="color: green"><%= notice %></p>
<p style="color: red"><%= alert %></p>
<div class="header">
  <h1>Welcome, <%= @admin.email %></h1>
  <div class="header-container">
    <%= link_to "Edit profile", edit_admin_path(@admin) %>
    <%= button_to "Log out", destroy_admin_session_path, method: :delete %>
  </div>
</div>
<br>

<div class = "attendee-link">
  <h2>Attendees</h2>
  <%= link_to "manage attendees", attendees_path %>
  <%= link_to "add new attendee", new_attendee_path %>
</div>

<div class = "room-link">
  <h2>Rooms</h2>
  <%= link_to "manage rooms", rooms_path %>
  <%= link_to "add new room", new_room_path %>
</div>

<div class = "event-link">
  <h2>Events</h2>
  <%= link_to "manage events", events_path %>
  <%= link_to "add new event", new_event_path %>
</div>

<!--Filter attendees by event, EXTRA CREDIT -->

<!-- This form allows the admin to select an event from a dropdown and
 search for all attendees that have booked tickets for that event.
 The form submits a GET request to the 'search_attendees_path'
 which is handled by the 'search_attendees' action in the AdminsController. -->
<p style="font-weight: bold;">View booked attendees by event:</p>

<%= form_with(url: search_attendees_path, method: :get) do |form| %>
  <%= form.label :event_name, 'Event Name:' %>
  <!-- Dropdown for selecting an event name.
  The options are dynamically generated from the @event_names instance variable
  which should be set in the AdminsController#show action. -->
  <%= form.select :event_name, options_for_select([['Select an event name', '']] + @event_names.map { |name| [name, name] }), {}, {class: "form-control"} %>
  <!-- Submission button for the form.
  When clicked, the selected event name is sent to the server
  to retrieve the corresponding attendees. -->
  <%= form.submit 'Search', class: "btn btn-primary" %>
<% end %>

<div class = "ticket-link">
  <h2>Tickets</h2>
  <%= link_to "manage tickets", event_tickets_path %>
  <%= link_to 'Order History', admin_order_history_path %>
  <%= link_to "book new ticket for attendee", new_event_ticket_path %>

</div>

<div class = "review-link">
  <h2>Reviews</h2>
  <%= link_to "manage reviews", reviews_path %>
<!--  Need to edit this so attendee can only make a review on behalf of themself.
      This is similar but opposite functionality issue to ticket booking/ creation
      on the admin side; right now you can only book a ticket for yourself,
      where as with reviews you can choose whomever to book a review for. -->
  <%= link_to "add new review", new_review_path %>
</div>


