<div id="<%= dom_id attendee %>">
  <p>
    <strong>Email:</strong>
    <%= attendee.email %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= attendee.password %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= attendee.name %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= attendee.phone_number %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= attendee.address %>
  </p>

  <p>
    <strong>Credit card info:</strong>
    <%= attendee.credit_card_info %>
  </p>

</div>
