<%= form_with(model: attendee) do |form| %>
  <% if attendee.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(attendee.errors.count, "error") %> prohibited this attendee from being saved:</h2>

      <ul>
        <% attendee.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

<!--   Todo: Maybe remove this since it has no impact-->
  <% unless attendee_signed_in? %>
    <div>
      <%= form.label :password, style: "display: block" %>
      <%= form.text_field :password %>
    </div>
  <% end %>


  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :phone_number, style: "display: block" %>
    <%= form.text_field :phone_number %>
  </div>

  <div>
    <%= form.label :address, style: "display: block" %>
    <%= form.text_area :address %>
  </div>

  <div>
    <%= form.label :credit_card_info, style: "display: block" %>
    <%= form.text_field :credit_card_info %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
