<h1>Your booked events</h1>

<div id="booked_events">
  <% @event_tickets.each do |event_ticket| %>
    <p>
      <strong>Event name: </strong>
      <%= event_ticket.event.name %>
    </p>
    <p>
      <strong>Event Date</strong>
      <%= event_ticket.event.date %>
    </p>
    <p>
      <strong>Start time:</strong>
      <%= event_ticket.event.start_time.strftime("%H:%M") %>
    </p>

    <p>
      <strong>End time:</strong>
      <%= event_ticket.event.end_time.strftime("%H:%M") %>
    </p>

    <p>
      <%= link_to 'View ticket', event_ticket_path(event_ticket), method: :get %>
    </p>
  <% end %>
</div>