<style>
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header-container {
        display: flex;
        gap: 10px
    }
</style>

<p style="color: green"><%= notice %></p>
<p style="color: red"><%= alert %></p>

<div class="header">
  <h1><%= @attendee.email %></h1>

  <% if admin_signed_in? %>
    <%= render @attendee %>>
  <% end %>

  <div class="header-container">
    <%= link_to "Edit profile", edit_attendee_path(@attendee) %>
    <%= link_to "change password", edit_attendee_registration_path %>
    <% if attendee_signed_in? %>
      <%= button_to "Log out", destroy_attendee_session_path, method: :delete %>
      <%= button_to "delete your account", @attendee, method: :delete %>
    <% end %>

    <% if admin_signed_in? %>
      <%= button_to "Destroy this attendee", @attendee, method: :delete %>
    <% end %>

  </div>
</div>

<br>


<div>
  <% if admin_signed_in? %>
    <%= link_to "Back to attendees", attendees_path %>
  <% end %>
</div>
<div class = "event-link">
  <% if attendee_signed_in? %>
    <h2>Events</h2>
    <%= link_to "view events", events_path %>
    <h2>Tickets</h2>
    <%= link_to "Booked events", booked_events_path(@attendee) %>
    <%= link_to 'Order History', attendee_order_history_path %>
    <%= link_to "Buy tickets for others", new_event_ticket_path %>
    <h2>Reviews</h2>
    <%= link_to "manage reviews", reviews_path %>
    <!--  Need to edit this so attendee can only MAKE AND MANAGE a review on behalf of themself.
      This is similar but opposite functionality issue to ticket booking/ creation
      on the admin side; right now you can only book a ticket for yourself,
      where as with reviews you can choose whomever to book a review for. -->
    <%= link_to "add new review", new_review_path %>
    </div>
  <% end %>
</div>
