<p style="color: green"><%= notice %></p>

<%= render @attendee %>

<div>
  <%= link_to "Edit this attendee", edit_attendee_path(@attendee) %> |
  <%= link_to "Back to attendees", attendees_path %> | <%= button_to "log out", destroy_attendee_session_path, method: :delete%>

  <%= button_to "Destroy this attendee", @attendee, method: :delete %>
</div>
