<% if user_signed_in? %>
<div> Welcome <%= current_user.email %> </div>
<%= button_to "Sign out", destroy_user_session_path, method: :delete %>
<% else %>
<%= button_to "Sign in", new_user_session_path %>
<% end %>
<h1>Wolf Events Homepage!</h1>

</p>
<%= link_to "Link to Admin Homepage", admin_homepage_path %>
</p>

</p>
<%= link_to "Link to Attendee Homepage", attendee_homepage_path %>
</p>
