<div id="<%= dom_id event %>">
  <p>
    <strong>Name:</strong>
    <%= event.name %>
  </p>

  <p>
    <strong>Room:</strong>
    <%= Room.find(event.room_id).address %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= event.category %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= event.date %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= event.start_time.strftime("%H:%M") %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= event.end_time.strftime("%H:%M") %>
  </p>

  <p>
    <strong>Ticket price:</strong>
    <%= event.ticket_price %>
  </p>

  <p>
    <strong>Seats left:</strong>
    <%= event.seats_left %>
  </p>

</div>
