<p style="color: green"><%= notice %></p>

<h1>Events</h1>

<% if admin_signed_in? %>
  <div>
    <%= link_to "New event", new_event_path %>
  </div>
<% end %>

<div>
  <h3>Filter:</h3>
  <%= form_with url: events_url, method: :get do |form| %>
    <div>
      <%= form.check_box :upcoming, {}, "on", nil %>
      <%= form.label :upcoming, "Only view upcoming events" %>
    </div>
    <div>
      <%= form.check_box :available, {}, "on", nil %>
      <%= form.label :available, "Only view the available events" %>
    </div>

    <%#= form.label :category, "Category:", style: "display: block" %>
    <%#= form.select :category, options_for_select(['Concerts', 'Sports', 'Arts & Theatre', 'Miscellaneous/Family', 'Private']), {}, {class: "form-control"} %>

    <%= form.label :category, "Category:", style: "display: block" %>
    <%= form.select :category, options_for_select([['Select a category', '']] + Event.distinct.pluck(:category).map { |category| [category, category] }), {}, {class: "form-control"} %>


    <%= form.label :date, "Date:", style: "display: block" %>
    <%= form.select :date, options_for_select([['Select a date', '']] + @event_dates.map { |date| [date.strftime('%B %d, %Y'), date] }), {}, {class: "form-control"} %>

    <%#= form.label :date, "Date:", style: "display: block" %>
    <%#= form.date_field :date, class: "form-control" %>

    <%= form.label :name, "Event Name:", style: "display: block" %>
    <%= form.select :name, options_for_select([['Select an event name', '']] + @event_names.map { |name| [name, name] }), {}, {class: "form-control"} %>

    <%#= form.label :name, "Event Name:", style: "display: block" %>
    <%#= form.select :name, options_for_select(['All'] + @event_names.map { |name| [name, name] }), {}, {class: "form-control"} %>

    <%= form.label :min_price, "Minimum Price:", style: "display: block" %>
    <%= form.number_field :min_price, step: 1, class: "form-control" %>

    <%= form.label :max_price, "Maximum Price:", style: "display: block" %>
    <%= form.number_field :max_price, step: 1, class: "form-control" %>

    <%= form.submit "Apply Filters", class: "btn btn-primary" %>
  <% end %>
</div>



<br><br>

<div id="events">
  <% @events.each do |event| %>
    <%= render event %>
    <p>
      <%= link_to "View this event", event %>
    </p>
  <% end %>
</div>





