<div id="<%= dom_id event_ticket %>">
<!--  <p>-->
<!--    <strong>Belongs to:</strong>-->
    <%# if event_ticket.attendee.present? %>
      <%#= event_ticket.attendee.name %>
    <%# else %>
      <%#= event_ticket.admin.name %>
    <%# end %>
<!--  </p>-->

  <% if event_ticket.attendee.present? %>
    <p>
      <strong>Belongs to:</strong>
      <%= event_ticket.attendee.name %>
    </p>
    <p>
      <strong>Attendee id:</strong>
      <%= event_ticket.attendee.id %>
    </p>
  <% else %>
    <p>
      <strong>Belongs to:</strong>
      <%= event_ticket.admin.name %>
    </p>
    <p>
      <strong>Admin id:</strong>
      <%= event_ticket.admin.id %>
    </p>
  <% end %>

  <p>
    <strong>Event:</strong>
    <%= event_ticket.event.name %>
  </p>

  <p>
    <strong>Room:</strong>
    <%= event_ticket.room.address %>
  </p>

  <p>
    <strong>Confirmation number:</strong>
    <%= event_ticket.confirmation_number %>
  </p>
</div>