<div id="<%= dom_id event_ticket %>">
  <p>
    <strong>Attendee:</strong>
    <%= event_ticket.attendee_id %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= event_ticket.event_id %>
  </p>

  <p>
    <strong>Room:</strong>
    <%= event_ticket.room_id %>
  </p>

  <p>
    <strong>Confirmation number:</strong>
    <%= event_ticket.confirmation_number %>
  </p>

</div>
