<p style="color: green"><%= notice %></p>

<%= render @event_ticket %>

<div>
  <% if admin_signed_in? %>
    <%= link_to "Edit this event ticket", edit_event_ticket_path(@event_ticket) %> |
    <%= link_to "Back to event tickets", event_tickets_path %>
<% end %>

  <%= button_to "Delete the reservation", @event_ticket, method: :delete %>
</div>
