<%= form_with(model: review) do |form| %>
  <% if review.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
        <% review.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :attendee_id, "Attendee:", style: "display: block" %>
    <%= form.collection_select :attendee_id, Attendee.all, :id, :name, { prompt: "Select an Attendee" }, { class: "form-control" } %>
  </div>

  <div>
    <%= form.label :event_id, "Event:", style: "display: block" %>
    <%= form.collection_select :event_id, Event.all, :id, :name, { prompt: "Select an Event" }, { class: "form-control" } %>
  </div>

  <div>
    <%= form.label :rating, style: "display: block" %>
    <%= form.number_field :rating, class: "form-control" %>
  </div>

  <div>
    <%= form.label :feedback, style: "display: block" %>
    <%= form.text_area :feedback, class: "form-control" %>
  </div>

  <div>
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
