<p style="color: green"><%= notice %></p>

<div>
  <% if attendee_signed_in? %>
    <strong>Attendee:</strong> <%= @review.attendee.email %><br>
  <% elsif admin_signed_in? %>
    <strong>Attendee:</strong> <%= @review.attendee.name %><br>
  <% end %>
  <strong>Event:</strong> <%= @review.event.name %><br>
  <strong>Rating:</strong> <%= @review.rating %><br>
  <strong>Feedback:</strong> <%= @review.feedback %>
</div>

<div>
  <% if admin_signed_in? or @review.attendee_id == current_attendee.id%>
  <div>
    <%= link_to "Edit this review", edit_review_path(@review) %>
    <%= button_to "Destroy this review", @review, method: :delete %>
  </div>
  <% end %>
  <%= link_to "Back to reviews", reviews_path %>
</div>
