<!DOCTYPE html>
<html>
  <head>
    <title>WolfEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <% if admin_signed_in? %>
    <div>
      <%= link_to "main page", current_admin %>
    </div>
  <% end %>
  <% if attendee_signed_in? %>
    <div>
      <%= link_to "main page", current_attendee %>
    </div>
  <% end %>
    <%= yield %>
  </body>
</html>
